<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>695176920198-pgain6frd6al2lo8v5na1lo9sfff6se9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.695176920198-pgain6frd6al2lo8v5na1lo9sfff6se9</string>
	<key>API_KEY</key>
	<string>AIzaSyBzreqZq6-YXJG0eOFAo6xeP8X7eLOZpSQ</string>
	<key>GCM_SENDER_ID</key>
	<string>695176920198</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.fiap.dhccorreia.ShoppingList</string>
	<key>PROJECT_ID</key>
	<string>shoppinglist-a429d</string>
	<key>STORAGE_BUCKET</key>
	<string>shoppinglist-a429d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:695176920198:ios:f3f75986fd6946c0</string>
	<key>DATABASE_URL</key>
	<string>https://shoppinglist-a429d.firebaseio.com</string>
</dict>
</plist>